<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangma.cn.mapper.GoodMapper">
  <resultMap id="BaseResultMap" type="com.shangma.cn.entity.Good">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="good_name" jdbcType="VARCHAR" property="goodName" />
    <result column="good_category_id" jdbcType="BIGINT" property="goodCategoryId" />
    <result column="good_brand_id" jdbcType="BIGINT" property="goodBrandId" />
    <result column="good_model_num" jdbcType="VARCHAR" property="goodModelNum" />
    <result column="good_supplier_id" jdbcType="BIGINT" property="goodSupplierId" />
    <result column="good_desc" jdbcType="VARCHAR" property="goodDesc" />
    <result column="good_color" jdbcType="VARCHAR" property="goodColor" />
    <result column="good_price" jdbcType="DOUBLE" property="goodPrice" />
    <result column="good_num" jdbcType="INTEGER" property="goodNum" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="creator_time" jdbcType="TIMESTAMP" property="creatorTime" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, good_name, good_category_id, good_brand_id, good_model_num, good_supplier_id, 
    good_desc, good_color, good_price, good_num, creator_id, creator_time, update_id, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.shangma.cn.entity.GoodExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_good
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_good
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_good
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shangma.cn.entity.GoodExample">
    delete from tb_good
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shangma.cn.entity.Good">
    insert into tb_good (id, good_name, good_category_id, 
      good_brand_id, good_model_num, good_supplier_id, 
      good_desc, good_color, good_price, 
      good_num, creator_id, creator_time, 
      update_id, update_time)
    values (#{id,jdbcType=BIGINT}, #{goodName,jdbcType=VARCHAR}, #{goodCategoryId,jdbcType=BIGINT}, 
      #{goodBrandId,jdbcType=BIGINT}, #{goodModelNum,jdbcType=VARCHAR}, #{goodSupplierId,jdbcType=BIGINT}, 
      #{goodDesc,jdbcType=VARCHAR}, #{goodColor,jdbcType=VARCHAR}, #{goodPrice,jdbcType=DOUBLE}, 
      #{goodNum,jdbcType=INTEGER}, #{creatorId,jdbcType=BIGINT}, #{creatorTime,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shangma.cn.entity.Good">
    insert into tb_good
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodName != null">
        good_name,
      </if>
      <if test="goodCategoryId != null">
        good_category_id,
      </if>
      <if test="goodBrandId != null">
        good_brand_id,
      </if>
      <if test="goodModelNum != null">
        good_model_num,
      </if>
      <if test="goodSupplierId != null">
        good_supplier_id,
      </if>
      <if test="goodDesc != null">
        good_desc,
      </if>
      <if test="goodColor != null">
        good_color,
      </if>
      <if test="goodPrice != null">
        good_price,
      </if>
      <if test="goodNum != null">
        good_num,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="creatorTime != null">
        creator_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodName != null">
        #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodCategoryId != null">
        #{goodCategoryId,jdbcType=BIGINT},
      </if>
      <if test="goodBrandId != null">
        #{goodBrandId,jdbcType=BIGINT},
      </if>
      <if test="goodModelNum != null">
        #{goodModelNum,jdbcType=VARCHAR},
      </if>
      <if test="goodSupplierId != null">
        #{goodSupplierId,jdbcType=BIGINT},
      </if>
      <if test="goodDesc != null">
        #{goodDesc,jdbcType=VARCHAR},
      </if>
      <if test="goodColor != null">
        #{goodColor,jdbcType=VARCHAR},
      </if>
      <if test="goodPrice != null">
        #{goodPrice,jdbcType=DOUBLE},
      </if>
      <if test="goodNum != null">
        #{goodNum,jdbcType=INTEGER},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="creatorTime != null">
        #{creatorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shangma.cn.entity.GoodExample" resultType="java.lang.Long">
    select count(*) from tb_good
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_good
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.goodName != null">
        good_name = #{record.goodName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodCategoryId != null">
        good_category_id = #{record.goodCategoryId,jdbcType=BIGINT},
      </if>
      <if test="record.goodBrandId != null">
        good_brand_id = #{record.goodBrandId,jdbcType=BIGINT},
      </if>
      <if test="record.goodModelNum != null">
        good_model_num = #{record.goodModelNum,jdbcType=VARCHAR},
      </if>
      <if test="record.goodSupplierId != null">
        good_supplier_id = #{record.goodSupplierId,jdbcType=BIGINT},
      </if>
      <if test="record.goodDesc != null">
        good_desc = #{record.goodDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.goodColor != null">
        good_color = #{record.goodColor,jdbcType=VARCHAR},
      </if>
      <if test="record.goodPrice != null">
        good_price = #{record.goodPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.goodNum != null">
        good_num = #{record.goodNum,jdbcType=INTEGER},
      </if>
      <if test="record.creatorId != null">
        creator_id = #{record.creatorId,jdbcType=BIGINT},
      </if>
      <if test="record.creatorTime != null">
        creator_time = #{record.creatorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateId != null">
        update_id = #{record.updateId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_good
    set id = #{record.id,jdbcType=BIGINT},
      good_name = #{record.goodName,jdbcType=VARCHAR},
      good_category_id = #{record.goodCategoryId,jdbcType=BIGINT},
      good_brand_id = #{record.goodBrandId,jdbcType=BIGINT},
      good_model_num = #{record.goodModelNum,jdbcType=VARCHAR},
      good_supplier_id = #{record.goodSupplierId,jdbcType=BIGINT},
      good_desc = #{record.goodDesc,jdbcType=VARCHAR},
      good_color = #{record.goodColor,jdbcType=VARCHAR},
      good_price = #{record.goodPrice,jdbcType=DOUBLE},
      good_num = #{record.goodNum,jdbcType=INTEGER},
      creator_id = #{record.creatorId,jdbcType=BIGINT},
      creator_time = #{record.creatorTime,jdbcType=TIMESTAMP},
      update_id = #{record.updateId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shangma.cn.entity.Good">
    update tb_good
    <set>
      <if test="goodName != null">
        good_name = #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodCategoryId != null">
        good_category_id = #{goodCategoryId,jdbcType=BIGINT},
      </if>
      <if test="goodBrandId != null">
        good_brand_id = #{goodBrandId,jdbcType=BIGINT},
      </if>
      <if test="goodModelNum != null">
        good_model_num = #{goodModelNum,jdbcType=VARCHAR},
      </if>
      <if test="goodSupplierId != null">
        good_supplier_id = #{goodSupplierId,jdbcType=BIGINT},
      </if>
      <if test="goodDesc != null">
        good_desc = #{goodDesc,jdbcType=VARCHAR},
      </if>
      <if test="goodColor != null">
        good_color = #{goodColor,jdbcType=VARCHAR},
      </if>
      <if test="goodPrice != null">
        good_price = #{goodPrice,jdbcType=DOUBLE},
      </if>
      <if test="goodNum != null">
        good_num = #{goodNum,jdbcType=INTEGER},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="creatorTime != null">
        creator_time = #{creatorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shangma.cn.entity.Good">
    update tb_good
    set good_name = #{goodName,jdbcType=VARCHAR},
      good_category_id = #{goodCategoryId,jdbcType=BIGINT},
      good_brand_id = #{goodBrandId,jdbcType=BIGINT},
      good_model_num = #{goodModelNum,jdbcType=VARCHAR},
      good_supplier_id = #{goodSupplierId,jdbcType=BIGINT},
      good_desc = #{goodDesc,jdbcType=VARCHAR},
      good_color = #{goodColor,jdbcType=VARCHAR},
      good_price = #{goodPrice,jdbcType=DOUBLE},
      good_num = #{goodNum,jdbcType=INTEGER},
      creator_id = #{creatorId,jdbcType=BIGINT},
      creator_time = #{creatorTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>